<div id="content" class="row">

    <div class="cog-product-wrapper js-reveal">
        <div class="cog-collection-3col">
            
            {% for link in linklists.classics.links %}
            <div class="collection-thumb-title">
                {{ link.object.title | escape }} 
            </div>
            {% endfor %}

            <div class="frow justify-between">
                {% for product in collections.the-classics.products limit:4 %}
                    
                    <div class="cog-coll-product">
                        <a href="{{ product.url }}"><img src="{{ product.featured_image | img_url: 'master' }}" /></a>
                        <div class="cog-product-title"><a href="{{ product.url }}">{{ product.title }}</a></div>
                        <div class="cog-product-price">{{ product.price  | money_without_trailing_zeros }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>