<section>
    <div class="frow justify-between">
        <div class="contact_2col">
            <div>{{ section.settings.cog_contact_title-l }}</div>
            <div>{{ section.settings.cog-contact_address }}</div>
        </div>
        <div class="contact_2col">
            <div>{{ section.settings.cog_contact_title-r }}</div>
            <div class="contact_desc">
                {% for block in section.blocks %}
                    <div class="single_contact_info">{{ block.settings.cog_info_desc }}</div>
                    <div class="single_contact_info_below"><a href="mailto:{{ block.settings.cog_info_email }}">{{ block.settings.cog_info_email }}</a></div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "COG Contact",
    "settings": [
        {
            "type": "text",
            "id": "cog_contact_title-l",
            "label": "COG Contact Title Left"
        },
        {
            "type": "textarea",
            "id": "cog-contact_address",
            "label": "COG Contact Address"
        },
        {
            "type": "text",
            "id": "cog_contact_title-r",
            "label": "COG Contact Title Right"
        }
    ],
    "blocks": [
        {
            "type": "component",
            "name": "COG Contact Info",
            "settings": [
                {
                    "type": "textarea",
                    "id": "cog_info_desc",
                    "label": "COG Contact Description"
                },
                {
                    "type": "textarea",
                    "id": "cog_info_email",
                    "label": "COG Contact Email"
                }
            ]
        }
    ]
}
{% endschema %}