<section class="cog_page_section_title js-reveal">
    <div class="cog_press_title">{{section.settings.ments_title}}</div>
    {% if section.settings.ments_desc %}
        <div class="cog_page_description">{{section.settings.ments_desc}}</div>
    {% endif %}
</section>

<section class="cog_press_mentions js-reveal">
    <div class="press_mentions_list">
        {% for block in section.blocks %}
        <div class="pm_item">
            <div class="frow justify-start">
                <div class="pm_pub">
                    {{ block.settings.pm-pub}}
                </div>
                <div class="pm_title"><a href="{{ block.settings.pm-url }}" target="_blank">{{ block.settings.pm-title }}</a></div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% schema %}
{
    "name": "COG Press Mentions Title",
    "settings": [
        {
            "type": "text",
            "id": "ments_title",
            "label": "Press Mentions Title"

        },
        {
            "type": "textarea",
            "id": "ments_desc",
            "label": "Press Mentions Description"
        }
    ],
    "blocks": [
        {
            "type": "component",
            "name": "New Press Mention",
            "settings": [
                {
                    "type": "text",
                    "id": "pm-pub",
                    "label": "Press Publication"
                },
                {
                    "type": "text",
                    "id": "pm-title",
                    "label": "Press Title"
                },
                {
                    "type": "url",
                    "id": "pm-url",
                    "label": "Press URL"
                }
            ]
        }
    ]
}
{% endschema %}