<section class="cog_page_section">
    <div class="cog_page_title">{{section.settings.cog_press_mentions_title}}</div>
    {% if section.settings.cog_press_mentions_desc %}
        <div class="cog_page_description">{{section.settings.cog_press_mentions_desc}}</div>
    {% endif %}
</section>

<section class="cog_press_mentions">
    <div class="press_mentions_list">
        {% for block in section.blocks %}
        <div class="pm_item">
            <div class="pm_pub">
                {{ block.settings.pm-pub}}
            </div>
            
            <a href="{{ block.settings.pm-url }}" target="_blank">
                <div class="pm_title">{{ block.settings.pm-title }}</div>
            </a>
        </div>
        {% endfor %}
    </div>
</section>

{% schema %}
{
    "name": "COG Press Mentions Title",
    "settings": [
        {
            "type": "text",
            "id": "cog_press_mentions_title",
            "label": "Press Mentions Title"

        },
        {
            "type": "textarea",
            "id": "cog_press_mentions_desc",
            "label": "Press Mentions Description"
        }
    ],
    "blocks": [
        {
            "type": "component",
            "name": "New Press Mention",
            "settings": [
                {
                    "type": "text",
                    "id": "pm-pub",
                    "label": "Press Publication"
                },
                {
                    "type": "text",
                    "id": "pm-title",
                    "label": "Press Title"
                },
                {
                    "type": "url",
                    "id": "pm-url",
                    "label": "Press URL"
                }
            ]
        }
    ]
}
{% endschema %}